<app-sidebar></app-sidebar>
<div class="container-fluid my-2">
  <div class="row ml-4 mt-3">
    <div class="col col-md-3 col-lg-3">
      <div class="card mb-3">
        <div class="card-body">
          <div class="bgimage">
            <div class="c-header">Current Logged in User</div>
            <div class="c-body-header">
              List of the averages
            </div>
            <div class="c-body">
              36
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="bgimage">
            <div class="c-header">Average Spend</div>
            <div class="c-body-header">
              List of the averages
            </div>
            <div class="c-body">
              657
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-9 col-lg-9">
      <div class="row">
        <div class="col col-md-6 col-lg-6">
          <div class="card mb-3 bg-light">
            <div class="card-body">
              <div class="bgimage-2">
                <div class="c-header-2">Current Logged in User</div>
                <div class="c-body-2 mx-auto d-block">
                  <!-- <img src="../../assets/graph.jpg" alt="" class="img-fluid" height="20%"> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-6 col-lg-6">
          <div class="card mb-3 bg-light">
            <div class="card-body">
              <div class="bgimage-2">
                <div class="c-header-2">Support Ticket</div>
                <div class="c-body-2 mx-auto d-block">
                  <!-- <img src="../../assets/graph.jpg" alt="" class="img-fluid" height="20%"> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6 col-lg-6">
          <div class="card mb-3 bg-light">
            <div class="card-body">
              <div class="bgimage-2">
                <div class="c-header-2">Application Response Time(p95)</div>
                <div class="c-body-2 mx-auto d-block">
                  <!-- <img src="../../assets/graph.jpg" alt="" class="img-fluid" height="20%"> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-6 col-lg-6">
          <div class="card mb-3 bg-light">
            <div class="card-body">
              <div class="bgimage-2">
                <div class="c-header-2">Application Volume</div>
                <div class="c-body-2 mx-auto d-block">
                  <!-- <img src="../../assets/graph.jpg" alt="" class="img-fluid" height="20%"> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-12 col-lg-12">
          <div class="card mb-3 bg-light">
            <div class="card-body">
              <div class="bgimage-2">
                <div class="c-header-2">System Load</div>
                <div class="c-body-2 mx-auto d-block">
                  <!-- <img src="../../assets/graph.png" alt="" class="img-fluid" height="20%"> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
